.dl-container{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.3);
  font-size: 0.9em;
  
  // display: -webkit-box;
  // -webkit-box-pack:center;
  // -webkit-box-aling:center;

  display: -webkit-flex;
  -webkit-justify-content:center;
  -webkit-align-items: center;
  .dl-window{
    border-radius: 10px;
    background-color:rgba(#000,0.8);
    text-align: center;
    .dl-header{
      width: 100%;
      height: 50px;
      line-height: 50px;
      margin: 0 auto;
      color: #ddd;
      border-bottom:1px solid #eee;
    }
    .dl-content{
      color: #ddd;
      padding:1em;
      &.warning{
        color: red;
      }
    }
    .dl-footer{
      padding:1em;

      display: -webkit-flex;
      -webkit-justify-content: center;
      -webkit-align-items: center;
    }
    button{
      -webkit-appearance: none;
      border:none;
      border-radius: 6px;
      padding:0.5em 1em;
      margin:0 0.2em;
      background-color:#ddd;
      color: #333;  
      &.ok{
        background-color: #398DEE;
        color: white;
      }
      &.warning{
        background-color:#F84B4D;
        color: white;
      }
      &.no{
        background-color:#ddd;
        color: #333;
      }
    }
  }
}


button{
  -webkit-appearance: none;
  border:none;
  border-radius: 6px;
  padding:0.5em 1em;
  margin:0 0.2em;
  background-color:#ddd;
  color: #333;  
}

table{
  border:1px solid #ddd;
  width: 100%;
  color: #333;
  font-size: 0.8em;
  th,td{
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
  }

}